server {
{% if item.listen is defined %}
{%   if item.listen is string or item.listen is number %}
    listen {{ item.listen }};
{%   else %}
{%     for listen in item.listen %}
    listen {{ listen }};
{%     endfor %}
{%   endif %}
{% else %}
    listen 80 default_server;
{% endif %}
{% if item.server_name is string %}
    server_name {{ item.server_name }};
{% else %}
    server_name {{ item.server_name | join(' ') }};
{% endif %}
{% if item.ssl is defined and item.ssl %}

    ssl_session_timeout 1d;
    ssl_session_cache shared:SSL:50m;
    ssl_session_tickets off;

    ssl_dhparam {{ dhparam_directory }}/{{ dhparam_filename }};

{%- macro ssldomain(server_name) -%}{%- if server_name is string -%}{{ server_name }}{%- else -%}{{ server_name[0] }}{%- endif -%}
    ssl_certificate /etc/letsencrypt/live/{{ ssldomain(item.server_name) }}/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/{{ ssldomain(item.server_name) }}/privkey.pem;
    ssl_ciphers 'ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-AES256-GCM-SHA384:DHE-RSA-AES128-GCM-SHA256:DHE-DSS-AES128-GCM-SHA256:kEDH+AESGCM:ECDHE-RSA-AES128-SHA256:ECDHE-ECDSA-AES128-SHA256:ECDHE-RSA-AES128-SHA:ECDHE-ECDSA-AES128-SHA:ECDHE-RSA-AES256-SHA384:ECDHE-ECDSA-AES256-SHA384:ECDHE-RSA-AES256-SHA:ECDHE-ECDSA-AES256-SHA:DHE-RSA-AES128-SHA256:DHE-RSA-AES128-SHA:DHE-DSS-AES128-SHA256:DHE-RSA-AES256-SHA256:DHE-DSS-AES256-SHA:DHE-RSA-AES256-SHA:ECDHE-RSA-DES-CBC3-SHA:ECDHE-ECDSA-DES-CBC3-SHA:AES128-GCM-SHA256:AES256-GCM-SHA384:AES128-SHA256:AES256-SHA256:AES128-SHA:AES256-SHA:AES:CAMELLIA:DES-CBC3-SHA:!aNULL:!eNULL:!EXPORT:!DES:!RC4:!MD5:!PSK:!aECDH:!EDH-DSS-DES-CBC3-SHA:!EDH-RSA-DES-CBC3-SHA:!KRB5-DES-CBC3-SHA';
    ssl_prefer_server_ciphers on;

    add_header Strict-Transport-Security max-age=15768000;

    ssl_stapling on;
    ssl_stapling_verify on;

{% endif %}

    root {{ item.root }};
{% if item.index is defined %}
    index {{ item.index }};
{% endif %}

{% if item.error_page is defined %}
    error_page {{ item.error_page }};
{% endif %}
{% if item.access_log is defined %}
    access_log {{ item.access_log }};
{% endif %}
{% if item.error_log is defined %}
    error_log {{ item.error_log }};
{% endif %}
{% if item.return is defined %}

    return {{ item.return }};
{% endif %}
{%     if item.extra_parameters is defined %}

{{ item.extra_parameters | indent(4, true) }}
{%     endif %}
{% if item.locations is defined %}
{%   for location in item.locations %}

    location {{ location.uri }} {
{%     if location.root is defined %}
        root {{ location.root }};
{%     endif %}
{%     if location.alias is defined %}
        alias {{ location.alias }};
{%     endif %}
{%     if location.index is defined %}
        index {{ location.index }};
{%     endif %}

{%     if location.error_page is defined %}
        error_page {{ location.error_page }};
{%     endif %}
{%     if location.access_log is defined %}
        access_log {{ location.access_log }};
{%     endif %}
{%     if location.error_log is defined %}
        error_log {{ location.error_log }};
{%     endif %}
{%     if location.return is defined %}

        return {{ location.return }};
{%     endif %}
{%     if location.extra_parameters is defined %}

{{ location.extra_parameters | indent(8, true) }}
{%     endif %}
    }
{%   endfor %}
{% endif %}

}
